<div class="container-fluid">

    <header class="blog-header py-3">

        <div class="col-4 offset-4 text-center">
            <a class="blog-header-logo text-dark" href="" onclick="getHome()">
                <img src="/assets/images/freeway.svg" class="mt-3" style="height:60px;" alt="logo" />

            </a>
        </div>

    </header>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <!-- <a class="navbar-brand" href="#" style="font-family: 'Playfair Display', Georgia, 'Times New Roman', serif; font-size: 2.25rem;
  ">FreeWay</a> -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/home" >Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Politics</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Style</a>
                </li>


            </ul>
            <div class="my-2 my-lg-0 mr-2" *ngIf="!showSignInForm">
                <button id="signInBtn" class="btn btn-sm btn-outline-secondary my-2 my-sm-0 mx-2" (click)="toggle()">Sign In</button>
                <a routerLink="/signup" id="signUpBtn" class="btn btn-sm btn-outline-secondary my-2 my-sm-0">Sign Up</a>
            </div>


            <form id="signInForm" class="form-inline my-2 my-lg-0" *ngIf="showSignInForm" #signInForm="ngForm">

                <input class="form-control form-control-sm mr-sm-2" type="text" 
                placeholder="Username or Email" aria-label="Search" name="username"
                   [(ngModel)] = "username" required>

                <input class="form-control form-control-sm mr-sm-2" type="password" name="password" placeholder="Password" aria-label="Search"
                    [(ngModel)] = "password" required>

                <button class="btn btn-sm btn-outline-secondary my-2 my-sm-0 mr-sm-2" 
                [ngClass]="{
                    'btn-outline-success': signInForm.form.valid
                  }" [disabled]="!signInForm.form.valid" type="submit">Sign In</button>
                  
                <button class="btn btn-sm btn-outline-danger my-2 my-sm-0 mr-sm-5 close" style="opacity:1" aria-label="Close" id="cancel" (click)="toggle()">
                    <span aria-hidden="true" class="text-danger">&times;</span>
                </button>
            </form>


            <form class="form-inline my-2 my-lg-0">
                <input class="form-control form-control-sm mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <!-- <button class="btn btn-sm btn-outline-secondary my-2 my-sm-0" type="submit">Search</button> -->
            </form>
        </div>
    </nav>